# IRIS CLASSIFICATION USING LOGISTIC REGRESSION AND DECISION TREE CLASSIFIER

## Import Necessary Libraries

In [30]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

## Data Understanding

In [31]:
diris = pd.read_csv('../Datasets/02_IRIS.csv')
diris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [32]:
diris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [33]:
diris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [34]:
diris.shape

(150, 5)

## Modelling

In [35]:
X = diris.drop(['species'], axis=1)
y = diris['species']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Logistic Regression

In [36]:
logreg = LogisticRegression()

logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)

In [37]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy on Logistic Regression: {accuracy:.4f}")

Accuracy on Logistic Regression: 1.0000

In [38]:
cm = confusion_matrix(y_test, y_pred)
print(f"Confusion Matrix on Logistic Regression: ")
print(cm)

Confusion Matrix on Logistic Regression:
[[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

In [39]:
cr = classification_report(y_test, y_pred)
print(f"Classification Report on Logistic Regression: ")
print(cr)

Classification Report on Logistic Regression:
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [29]:
cv_scores = cross_val_score(logreg, X, y, cv=5)  # 5-fold cross-validation
print(f"Cross-validation scores: {cv_scores}")
print(f"Mean cross-validation score: {cv_scores.mean():.4f}")

Cross-validation scores: [0.96666667 1.         0.93333333 0.96666667 1.        ]
Mean cross-validation score: 0.9733

/home/diyrad167/Documents/Work/Cognorise intern/The_project/Cognorise/venv/lib64/python3.13/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### Decision Tree Classifier

In [40]:
dtc = DecisionTreeClassifier()

dtc.fit(X_train, y_train)

y_pred = dtc.predict(X_test)

In [45]:
ac_tree = accuracy_score(y_test, y_pred)
print(f"Accuracy on Decision Tree Classifier: {ac_tree:.4f}")

Accuracy on Decision Tree Classifier: 1.0000

In [44]:
cm_tree = confusion_matrix(y_test, y_pred)
print(f"Confusion Matrix on Decision Tree: ")
print(cm_tree)

Confusion Matrix on Decision Tree:
[[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

In [42]:
cr_tree = classification_report(y_test, y_pred)
print(f"Classification Report on Decision Tree: ")
print(cr_tree)

Classification Report on Decision Tree:
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [43]:
cv_scores_tree = cross_val_score(dtc, X, y, cv=5)  # 5-fold cross-validation
print(f"Cross-validation scores: {cv_scores_tree}")
print(f"Mean cross-validation score: {cv_scores_tree.mean():.4f}")

Cross-validation scores: [0.96666667 0.96666667 0.9        0.93333333 1.        ]
Mean cross-validation score: 0.9533